## Logistic Regression on Copy Number Variation and RNAseq

In [1]:
import pandas as pd

In [2]:
y = pd.read_table('CancerTypes_y.txt', sep = '\t', header = None)
x_cnv = pd.read_table('CNV_processed.txt', sep = '\t', header = 0)
x_rna = pd.read_table('RNAseq_processed.txt', sep = '\t', header = 0)

In [3]:
# Remove GeneID Column
x_cnv = x_cnv.drop('GeneID', axis = 1)
x_cnv.head()

,NCI-H358,NCI-H292,NCI-H522,NCI-H650,NCI-H520,NCI-H2126,NCI-H1437,HCC827,ABC-1,NCI-H1781,...,RPMI-7951,SK-MEL-28,SK-MEL-2,SK-MEL-5,UACC-257,CHL-1,NCI-H1770,OVCAR433,PL-21,U-2 OS
0,-0.103358,-0.056543,-0.126789,-0.330441,0.15392,-0.117591,0.070041,-0.275316,-0.160353,-0.180275,...,0.050463,-0.025554,-0.056543,0.123667,0.0,0.141791,0.172532,0.027463,0.030994,-0.009943
1,-0.103358,-0.056543,-0.126789,-0.330441,0.15392,-0.117591,0.070041,-0.275316,-0.160353,-0.180275,...,0.050463,-0.025554,-0.056543,0.123667,0.0,0.141791,0.172532,0.027463,0.030994,-0.009943
2,-0.103358,-0.056543,-0.126789,-0.330441,0.15392,-0.117591,0.070041,-0.275316,-0.160353,-0.180275,...,0.050463,-0.025554,-0.056543,0.123667,0.0,0.141791,0.172532,0.027463,0.030994,-0.009943
3,-0.103358,-0.056543,-0.126789,-0.330441,0.15392,-0.117591,0.070041,-0.275316,-0.160353,-0.180275,...,0.050463,-0.025554,-0.056543,0.123667,0.0,0.141791,0.172532,0.027463,0.030994,-0.009943
4,-0.103358,-0.056543,-0.126789,-0.330441,0.15392,-0.117591,0.070041,-0.275316,-0.160353,-0.180275,...,0.050463,-0.025554,-0.056543,0.123667,0.0,0.141791,0.172532,0.027463,0.030994,-0.009943

In [4]:
x_rna = x_rna.drop('GeneID', axis = 1)
x_rna.head()

,NCI-H358,NCI-H292,NCI-H522,NCI-H650,NCI-H520,NCI-H2126,NCI-H1437,HCC827,ABC-1,NCI-H1781,...,RPMI-7951,SK-MEL-28,SK-MEL-2,SK-MEL-5,UACC-257,CHL-1,NCI-H1770,OVCAR433,PL-21,U-2 OS
0,0.401850,3.355970,3.242982,6.887080,1.178694,0.079627,0.116279,1.494851,0.079956,3.193580,...,4.142441,4.898040,6.627574,3.160265,4.033093,4.956168,6.054004,1.721480,8.272631,5.344663
1,0.269426,0.152546,0.000000,0.073999,0.000000,0.350827,0.155921,0.338106,0.000000,0.139946,...,0.000000,0.033171,0.153226,0.000000,0.058151,0.016698,0.000000,0.123663,0.000000,0.108314
2,1.444185,6.688029,14.097641,12.760962,12.561318,16.102408,6.746634,9.851174,0.529970,0.348888,...,4.831014,4.077793,13.260020,11.005599,12.872546,4.464320,6.968689,7.317553,14.783940,18.529603
3,13.765275,9.689769,0.160805,0.035707,19.115036,0.000000,0.031348,0.149307,0.533510,1.439191,...,23.109774,5.892234,0.423590,0.134526,6.155593,10.378832,45.873366,4.717731,0.026394,35.964657
4,2.155210,0.256568,0.276349,15.317454,7.673333,0.175136,0.674454,0.565413,18.340339,0.190812,...,10.991005,12.449569,17.286123,12.036027,16.801633,13.058260,3.418446,17.138353,3.159854,15.992502

In [5]:
# Transpose
x_cnv = x_cnv.transpose()
x_rna = x_rna.transpose()

#### DropNa from CNV data

In [6]:
#Merge CNV x and y data
cnv = x_cnv.reset_index(drop = True)
cnv['y'] = y[0]

In [7]:
cnv.head()

,0,1,2,3,4,5,6,7,8,9,...,26085,26086,26087,26088,26089,26090,26091,26092,26093,y
0,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,...,-0.402239,-0.402239,-0.402239,-0.402239,-0.402239,-0.402239,-0.402239,-0.402239,-0.402239,0
1,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,...,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,0
2,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,...,-0.563395,-0.563395,-0.563395,-0.563395,-0.563395,-0.563395,-0.563395,-0.563395,-0.563395,0
3,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,...,-0.553628,-0.553628,-0.553628,-0.553628,-0.553628,-0.553628,-0.553628,-0.553628,-0.553628,0
4,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,...,-0.615360,-0.615360,-0.615360,-0.615360,-0.615360,-0.615360,-0.615360,-0.615360,-0.615360,0

In [8]:
cnv = cnv.dropna('index')
cnv.shape

(542, 26095)

In [9]:
y_cnv_clean = cnv['y']
x_cnv_clean = cnv.drop(['y'], axis = 1)

### Logistic Regression on CNV and RNAseq Individually

In [10]:
#Split data into training and test sets
from sklearn.model_selection import train_test_split
x_cnv_train, x_cnv_test, y_cnv_train, y_cnv_test = train_test_split(x_cnv_clean, y_cnv_clean.values.flatten(), test_size = 0.25, random_state = 0)
x_rna_train, x_rna_test, y_rna_train, y_rna_test = train_test_split(x_rna, y.values.flatten(), test_size = 0.25, random_state = 0)

In [11]:
from sklearn.linear_model import LogisticRegression
CNV_regression = LogisticRegression()
RNA_regression = LogisticRegression()

In [12]:
CNV_regression.fit(x_cnv_train, y_cnv_train)
RNA_regression.fit(x_rna_train, y_rna_train)

/Users/a.su/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/a.su/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [13]:
CNV_regression.score(x_cnv_test, y_cnv_test)

0.7058823529411765

In [14]:
RNA_regression.score(x_rna_test, y_rna_test)

0.7664670658682635

### Logistic Regression on combined CNV and RNAseq data

In [15]:
combined = pd.concat([x_cnv.reset_index(drop = True), x_rna.reset_index(drop = True)] , axis = 1)
combined['y'] = y[0]

In [16]:
combined.head()

,0,1,2,3,4,5,6,7,8,9,...,26085,26086,26087,26088,26089,26090,26091,26092,26093,y
0,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,-0.103358,...,12.546088,40.624117,137.329705,4.569567,36.578936,0.181953,28.065501,5.475072,10.850659,0
1,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,-0.056543,...,11.329634,31.039686,102.303089,11.925218,15.804591,0.375286,17.649466,6.821290,10.303672,0
2,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,-0.126789,...,18.222452,38.678528,0.385673,7.350149,11.198820,0.174903,27.420255,6.539275,16.029745,0
3,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,-0.330441,...,20.640966,37.434541,0.056673,8.954964,24.912152,0.315551,20.328770,6.620074,15.105773,0
4,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,0.153920,...,11.437955,12.687560,39.560801,5.518190,16.917116,0.211612,18.710788,10.163303,12.057136,0

In [17]:
combined = combined.dropna('index')
combined.shape

(542, 52189)

#### Normalise data with Z-scores

In [18]:
zscore = lambda x: (x - x.mean()) / x.std()
combined_z = combined.iloc[:, :-1].transform(zscore)
combined_z['y'] = combined['y']
combined_z.head()

,0,1,2,3,4,5,6,7,8,9,...,26085,26086,26087,26088,26089,26090,26091,26092,26093,y
0,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,-0.537778,...,0.119394,1.082568,1.266660,-0.223519,0.725874,-0.374117,0.243681,-0.312687,-0.811497,0
1,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,-0.240349,...,-0.088297,0.400850,0.772961,1.629813,-0.693953,0.064393,-0.565696,0.096968,-0.863276,0
2,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,-0.686642,...,1.088549,0.944183,-0.663562,0.477078,-1.008735,-0.390107,0.193542,0.011150,-0.321237,0
3,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,-1.980507,...,1.501474,0.855701,-0.668199,0.881427,-0.071495,-0.071096,-0.357501,0.035738,-0.408702,0
4,1.096789,1.096789,1.096789,1.096789,1.096789,1.096789,1.096789,1.096789,1.096789,1.096789,...,-0.069803,-0.904493,-0.111390,0.015497,-0.617917,-0.306845,-0.483226,1.113944,-0.697290,0

In [19]:
import numpy as np

In [20]:
combined_z[np.random.choice(combined_z.columns.values, size = 5, replace = False)].describe()

,9719,9719,21833,21833,9496,9496,8526,8526,22994,22994
count,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02,5.420000e+02
mean,-5.075891e-16,-1.024191e-18,-2.599397e-16,-2.445256e-16,-2.382268e-16,1.954156e-16,8.849010e-17,9.827112e-17,1.377537e-17,-3.757962e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-3.488120e+00,-7.958635e-01,-2.909106e+00,-8.083580e-01,-2.864348e+00,-1.532393e+00,-3.220099e+00,-1.061716e-01,-3.262072e+00,-1.703016e+00
25%,-6.092887e-01,-7.763795e-01,-6.428019e-01,-6.134401e-01,-7.539305e-01,-6.625553e-01,-5.526646e-01,-1.061716e-01,-5.973503e-01,-6.756322e-01
50%,-9.108880e-02,-2.753624e-01,1.468619e-01,-3.400603e-01,-1.290557e-01,-2.095450e-01,-1.287405e-01,-1.061716e-01,-1.166544e-01,-1.478391e-01
75%,6.649041e-01,3.754619e-01,5.413798e-01,2.465225e-01,8.159503e-01,3.340647e-01,5.129396e-01,-1.009284e-01,5.157418e-01,5.006333e-01
max,2.581900e+00,9.059090e+00,5.443945e+00,6.070170e+00,3.223611e+00,6.684713e+00,6.299216e+00,1.832379e+01,3.947660e+00,6.669419e+00

In [21]:
combined_z_clean = combined_z.dropna('columns')
print(combined_z_clean.shape)
y_combined_clean = combined_z_clean['y']
x_combined_clean = combined_z_clean.drop(['y'], axis = 1)

(542, 52052)

In [22]:
x_combined_clean.isnull().sum().count()

52051

In [23]:
x_combined_train, x_combined_test, y_combined_train, y_combined_test = train_test_split(x_combined_clean, y_combined_clean.values.flatten(), test_size = 0.25, random_state = 0)

In [38]:
#Combined_regression = LogisticRegression(C = 100, max_iter = 1000 , penalty = 'l1', solver = 'liblinear')
Combined_regression = LogisticRegression(penalty = 'l1', solver = 'liblinear')

In [39]:
Combined_regression.fit(x_combined_train, y_combined_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [40]:
Combined_regression.score(x_combined_test, y_combined_test)

0.8602941176470589

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
parameters = {'solver': ['liblinear'], 'C': [0.001, 0.01, 1, 10, 100, 1000]}
clf = GridSearchCV( estimator = Combined_regression, param_grid = parameters)

In [29]:
clf.fit(x_combined_train, y_combined_train)

/Users/a.su/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'solver': ['liblinear'], 'C': [0.001, 0.01, 1, 10, 100, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [30]:
clf.best_score_

0.8152709359605911

In [31]:
clf.score(x_combined_test, y_combined_test)

0.8382352941176471

In [32]:
clf.best_params_

{'C': 1, 'solver': 'liblinear'}

#### Elastic Net

In [33]:
from sklearn.linear_model import SGDClassifier

In [140]:
SGD = SGDClassifier(loss = 'log', max_iter = 1000, tol=0.001)

In [141]:
SGD.fit(x_combined_train, y_combined_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=0.001,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [142]:
SGD.score(x_combined_test, y_combined_test)

0.6102941176470589

In [143]:
SGD_parameters = {'alpha': [0.001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000], 'penalty':['elasticnet'], 
                  'epsilon': [0.001, 0.01, 0.1, 1, 10]}

In [144]:
SGD_search = GridSearchCV(estimator = SGD, param_grid= SGD_parameters)

In [145]:
SGD_search.fit(x_combined_train, y_combined_train)

/Users/a.su/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
/Users/a.su/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=0.001,
       validation_fraction=0.1, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': [0.001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000], 'penalty': ['elasticnet'], 'epsilon': [0.001, 0.01, 0.1, 1, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [146]:
SGD_search.score(x_combined_test, y_combined_test)

0.7941176470588235

In [147]:
SGD_search.best_params_

{'alpha': 0.1, 'epsilon': 0.01, 'penalty': 'elasticnet'}